# Last change: April-14-2014 by Luca Severini

# OS specific #
.DS_Store

# NetBeans specific #
build-impl.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Project specific #
BuildTimeStrings.properties

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

