# Last change: April-12-2014 by Luca Severini

# OS specific #
.DS_Store

# NetBeans specific #
nbproject/build-impl.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

