# Last change: September-3-2016 by Luca Severini

# OS specific #
.DS_Store

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Project specific #
BuildTimeStrings.properties

# Resulting zip file.
dist.zip

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
